.heading {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   flex-flow: column;
   min-height: 10rem;
}

.heading h3 {
   color: black;
   text-decoration: underline;
}

.contact .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.contact .row .image {
   flex: 1 1 40rem;
}

.contact .row .image img {
   width: 100%;
}

/* shdow  */
.row {
   box-shadow: 3px 3px 3px 3px rgb(206, 204, 204);
   border-radius: 10px;

}



.contact .row form {

   /* border:var(--border); */
   flex: 1 1 40rem;
   padding: 2rem;
   text-align: center;
}

.contact .row form h3 {
   /* box-shadow: 10px 10px 5px 0px #888888; */

   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: 1rem;
   text-transform: capitalize;
}

.contact .row form .box {
   margin: .7rem 0;
   font-size: 1.8rem;
   color: var(--black);
   border: var(--border);
   padding: 1.4rem;
   width: 100%;
}

.contact .row form textarea {
   height: 15rem;
   resize: none;
}