.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-flow: column;
    min-height: 10rem;
}

.heading h3{
    color: black;
    text-decoration: underline;
}


.title {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 1rem;
 }

 

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 28rem);
  justify-content: center;
  align-items: flex-start;
  gap:1.5rem;
}


